@use "@assets/style/variables/mixins.scss" as *;

.buttonSecondary {
	padding: 0 var(--space-3xl);
	color: var(--colors-primary);
	background: transparent;
	border: 1px solid var(--colors-primary);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
	line-height: var(--btn-height-md);
	@include transition;
	&:hover {
		transform: scale(0.95);
	}

	&-mobile {
		display: none;
	}
	@include tab-m {
		&-mobile {
			display: block;
		}
		&-consultation {
			display:none;
		}
	}
}

.button__secondary-mobile {
	display: none;
}

@include tab-m {
	.button__secondary-mobile {
		display: block;
	}
}