@use "@assets/style/variables/breakpoints" as *;
@use "@assets/style/variables/mixins" as *;

.benefitsSection {
	padding-bottom: var(--section-padding-y);
	background-color: var(--colors-white);
}

.benefitsGrid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: var(--about-box-gap, 135px);


	@include tab-md {
		flex-direction: column;
		gap: var(--space-3xl);
	}
}

.benefitsHeader {
	width: 100%;
	max-width: 490px;
}

.benefitsSubtitle {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-base);
	letter-spacing: 1px;
	color: var(--colors-gray-900);
	text-transform: uppercase;
	margin: 0 0 var(--space-xs) 0;
}

.benefitsTitle {
	font-size: var(--font-size-6xl);
	font-weight: var(--font-weight-black);
	line-height: var(--line-height-heading);
	color: var(--colors-gray-900);
	margin: 0;
}

.benefitsList {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: var(--space-xl);
	max-width: 600px;
	width: 100%;
	transform: translateY(30px);
}

.benefitsItem {
	display: flex;
	align-items: flex-start;
	gap: var(--space-m);
}

.iconWrapper {
	flex-shrink: 0;
	margin-top: 2px;

	svg {
		display: block;
		width: 16px;
		height: 16px;
	}
}

.benefitsText {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-body);
	color: var(--colors-gray-800);
	margin: 0;
}
