@use "/src/style/layout/header.scss" as *;
@use "/src/style/layout/modal-sign.scss" as *;
@use "/src/style/layout/reset.scss" as *;
@use "/src/style/layout/footer.scss" as *;
@use "/src/style/layout/subscribe.scss" as *;
@use "/src/style/layout/copyright.scss" as *;
@use "/src/style/global.scss" as *;