@use "../mixins" as *;

.subscribe {
	background: url("/src/images/subscribe/subscribe_background.jpg") center center no-repeat;
	background-size: cover;

	&__container {
		padding: var(--padding-large) 0 var(--padding-sections);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 960px;
		margin: 0 auto;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__header-text {
		padding-bottom: var(--padding-2xxl);
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--weight-base-regular);
		z-index: 1000;

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__form {
		display: flex;
		align-items: center;
		gap: var(--spacings-xlm);
		width: 600px;
		max-width: 100%;
		z-index: 3;

		form {
			flex: 1;
			background-color: var(--colors-white);
			border-radius: var(--roundings-s);
			padding: var(--padding-m) var(--padding-md);
			border: 1px solid var(--colors-gray-400);
			color: var(--colors-gray-400);
			transition: color 0.3s;

			&:focus-within {
				color: var(--colors-gray-400);
				border-color: var(--colors-primary);
			}
		}

		input {
			width: 100%;
			border: none;
			outline: none;
			background: transparent;
			font-size: var(--size-h6);
		}
	}

	&__button {
		padding: 0 var(--padding-xm);
		color: var(--colors-white);
		background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
		border: none;
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-base-btn);
		transition: all 0.4s;

		&:hover {
			transform: scale(0.95);
			box-shadow: 0 2px 4px var(--colors-black);
		}
	}

	&__image-1 {
		position: absolute;
		transform: translateY(-245px);
		left: 0;
		z-index: 1;
	}

	&__image-2 {
		position: absolute;
		transform: translateY(-245px);
		right: 0;
		z-index: 1;
	}

	@include tab-m {

			&__header-text {
				padding: 0 var(--padding-md) var(--padding-2xxl);
				font-size: var(--size-h1);
				font-weight: var(--weight-big-black);
				line-height: var(--height-display-1);
				letter-spacing: var(--weight-base-regular);
			}

			&__form {
				display: flex;
				align-items: center;
				gap: var(--spacings-xlm);
				width: 350px;
				max-width: 100%;
				z-index: 3;

				form {
					flex: 1;
					background-color: var(--colors-white);
					border-radius: var(--roundings-s);
					padding: var(--padding-m) var(--padding-md);
					border: 1px solid var(--colors-gray-400);
					color: var(--colors-gray-400);
					transition: color 0.3s;

					&:focus-within {
						color: var(--colors-gray-400);
						border-color: var(--colors-primary);
					}
				}

				input {
					width: 100%;
					border: none;
					outline: none;
					background: transparent;
					font-size: var(--size-extra-small);
				}
			}

			&__button {
				padding: 0 var(--padding-xm);
				color: var(--colors-white);
				background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
				border: none;
				font-size: var(--size-h6);
				font-weight: var(--weight-base-bold);
				line-height: var(--height-base-btn);
				transition: all 0.4s;
			}
			&__image-1 {
				display: none;
			}

			&__image-2 {
				display: none;
			}
	}
}

