@keyframes pulse-play {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pulse-slow {
	0% { scale: 1; }
	50% { scale: 1.03; }
	100% { scale: 1; }
}

@keyframes fadeInUp {
	from {
		transition: transform .4s;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes pulse-fast {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}