@use "../mixins" as *;

:root {
  --spacings-2xs: 2px;
  --spacings-xs: 4px;
  --spacings-s: 8px;
  --spacings-sm: 12px;
  --spacings-m: 15px;
  --spacings-lm: 20px;
  --spacings-xlm: 24px;
  --spacings-2m: 30px;
  --spacings-2xl: 40px;
  --spacings-3xl: 60px;
  --spacings-4xl: 80px;
  --spacings-large: 100px;
  --spacings-btn-margin: 36px;
  --spacings-about-box: 135px;
  --spacings-container-certificate: 130px;

  @include desk-sm {
    --spacings-2xl: 30px;
    --spacings-btn-margin: 25px;
    --spacings-xm: 20px;
    --spacings-about-box: 100px;
  }
  @include tab-md {
    --spacings-2xl: 20px;
    --spacings-btn-margin: 20px;
    --spacings-xm: 18px;
    --spacings-about-box: 70px;
  }
  @include tab-m {
    --spacings-btn-margin: 15px;
    --spacings-about-box: 50px;
  }
  @include tab-sm {
    --spacings-btn-margin: 10px;
  }
  @include mob-m {
    --spacings-btn-margin: 8px;
  }
}
