:root {
    --size-h1: 46px;
    --size-h2: 32px;
    --size-h3: 28px;
    --size-h4: 24px;
    --size-h5: 20px;
    --size-h6: 16px;
    --size-display-1: 72px;
    --size-display-2: 64px;
    --size-display-3: 56px;
    --size-display-4: 48px;
    --size-speaker: 18px;
    --size-badge: 14px;
    --size-extra-small: 12px;
    --size-extraextra-small: 10px;
    --weight-base-bold: bold;
    --weight-big-black: 900;
    --weight-base-regular: 400;
    --height-smallbase-btn: 44px;
    --height-base-btn: 52px;
    --height-display-1: 130%;
    --height-large-regular: 150%;
    --height-base-regular: 160%;
}