@use "/src/style/content/events" as *;
@use "/src/style/mixins" as *;

.nav__menu-item__link {
	&.active {
			color: var(--colors-primary);
	}
}

.events {
	background: none;

	&__navigation_list {
		background: transparent;

		&:hover {
			transform: none;
			box-shadow: 0 80px 80px color-mix(in srgb, var(--colors-primary) 10%, transparent);
		}
	}
	&__header-text {
		@include tab-sm {
			text-align: center;
		}
	}
}

.events__sort {
	display: flex;
	gap: var(--spacings-2xl);
	padding-bottom: var(--padding-2xxl);
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	&-title {
		font-size: var(--size-h6);
	}

	&-item {
		display: flex;
		align-items: center;
		gap: var(--spacings-sm);

		@include tab-sm {
			flex-direction: column;
		}
	}

	&-description {
		@include tab-sm {
			font-size: var(--size-extraextra-small);
		}
	}

	&-select {
		padding: var(--padding-m);
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		color: var(--colors-gray-800);
		min-width: 160px;
	}

	@include tab-sm {
		justify-content: center;
	}
}

.events__sort {

	&-value {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--padding-2xs);
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		color: var(--colors-gray-800);
		min-width: 72px;
	}

	&-btn {
		padding-left: var(--padding-msd);
		display: flex;
		flex-direction: column;
		transform: translateY(8px);
	}

	&-btn-plus {
		color: var(--colors-gray-800);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}

	&-btn-min {
		transform: translateY(-8px);
		color: var(--colors-gray-800);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}

	&-description {
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		color: var(--colors-gray-700);
	}
}

.events__sort-search {

	&-form {
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
	}

	&-input {
		border: none;
		padding: var(--padding-m);
		font-size: var(--size-badge);

		&:active {
			border-color: var(--colors-primary);
		}
	}

	&-btn {
		padding: var(--padding-m);
		color: var(--colors-gray-600);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}
}

.events__sort-visual {
	display: flex;
	gap: var(--spacings-sm);

	&-btn{
		color: var(--colors-gray-800);
		@include transition;

		&:hover{
			color: var(--colors-primary);
		}

		&.active {
			color: var(--colors-primary);
		}
	}
}

.events__pagination {
	padding: var(--padding-2xxl) 0 var(--padding-sections);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacings-lm);

	@include tab-md {
		padding: var(--padding-1xxl) 0 var(--padding-3xxl);
		flex-direction: column;
		gap: var(--spacings-lm);
		text-align: center;
	}

	&-page {
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		color: var(--colors-gray-800);

		&:hover {
			color: var(--colors-primary);
		}

		&.active {
			color: var(--colors-primary);
		}
	}
}


	.events__navigation {
		&.active {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
		}
	}

	.events__link {
		&.active {
			flex-direction: column;
			align-items: flex-start;
			text-align: start;
			max-width: 390px;
			width: 100%;
			height: 320px;
			padding: var(--padding-2xm);
		}
	}

		.events__link-date {
			&.active {
				gap: var(--spacings-s);
				align-items: inherit;
				font-size: var(--size-h3);
			}
		}

		.events__link-date-box {
			display: flex;
			&.active {
				display: block;
			}
		}

		.events__link_month-time {
			&.active {
				display: flex;
				flex-direction: column;
				padding: 0;
				transform: translateX(-40px);
			}
		}

		.events__link_month-time-span {
			&.active {
				font-size: var(--size-h3);
				color: var(--colors-primary);
				transform: translate(35px, -4px);
			}

		}

		.events__link-button {
			&.active {
				display: flex;
				margin: 0 auto;
				padding: 0;
			}
		}


	.events__info {
		&.active {
			padding-top: var(--padding-xm);
		}
	}

	.events__info-span {
		&.active {
			font-size: var(--size-speaker);
		}
	}

	.events__button {
		&.active {
			white-space: nowrap;
			padding: 0 var(--padding-large);
		}
	}

.events__navigation {
	&.active {
		opacity: 1;
		transition: opacity 0.15s ease;
	}
}

.events__navigation.rendering {
	&.active {
		opacity: 0.3;
	}
}

.events__navigation_list {
	&.active {
		transition: all 0.2s ease;
	}
}
