@use "/src/style/content/events" as *;
@use "/src/style/mixins" as *;

.events {
	background: none;

	&__navigation_list {
		background: transparent;

		&:hover {
			transform: none;
			box-shadow: 0 80px 80px color-mix(in srgb, var(--colors-primary) 10%, transparent);
		}
	}
}

.events__sort {
	display: flex;
	gap: var(--spacings-2xl);
	padding-bottom: var(--padding-2xxl);
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	&-title {
		font-size: var(--size-h6);
	}

	&-item {
		display: flex;
		align-items: center;
		gap: var(--spacings-sm);

		@include tab-sm {
			flex-direction: column;
		}
	}

	&-select {
		padding: var(--padding-m);
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		color: var(--colors-gray-800);
		min-width: 160px;
	}

	@include tab-sm {
		justify-content: space-between;
	}
}

.events__sort {

	&-value {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--padding-2xs);
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		color: var(--colors-gray-800);
		min-width: 72px;
	}

	&-btn {
		padding-left: var(--padding-msd);
		display: flex;
		flex-direction: column;
		transform: translateY(8px);
	}

	&-btn-plus {
		color: var(--colors-gray-800);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}

	&-btn-min {
		transform: translateY(-8px);
		color: var(--colors-gray-800);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}

	&-description {
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		color: var(--colors-gray-700);
	}
}

.events__sort-search {

	&-form {
		border: 1px solid var(--colors-gray-400);
		border-radius: var(--roundings-s);
	}

	&-input {
		border: none;
		padding: var(--padding-m);
		font-size: var(--size-badge);

		&:active {
			border-color: var(--colors-primary);
		}
	}

	&-btn {
		padding: var(--padding-m);
		color: var(--colors-gray-600);
		@include transition;

		&:hover {
			color: var(--colors-primary);
		}
	}
}

.events__sort-visual {
	display: flex;
	gap: var(--spacings-sm);

	&-btn{
		color: var(--colors-gray-800);
		@include transition;

		&:hover{
			color: var(--colors-primary);
		}

		&.active {
			color: var(--colors-primary);
		}
	}
}

.events__pagination {
	padding: var(--padding-2xxl) 0 var(--padding-sections);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacings-lm);

	@include tab-md {
		padding: var(--padding-1xxl) 0 var(--padding-3xxl);
		flex-direction: column;
		gap: var(--spacings-lm);
		text-align: center;
	}

	&-page {
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		color: var(--colors-gray-800);

		&:hover {
			color: var(--colors-primary);
		}

		&.active {
			color: var(--colors-primary);
		}
	}

}