@use "/src/style/mixins" as *;

.events {

	&__header {
		padding-top: var(--padding-xxxl);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		padding-bottom: var(--padding-2xxl);
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--weight-base-regular);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
		@include mob-m {
			font-size: var(--size-h4);
		}
	}
}

.events {

	&__navigation {
		display: flex;
		flex-direction: column;
		gap: var(--spacings-xlm);
	}

	&__navigation_list {
		border-radius: var(--roundings-s);
		transition: transform 0.6s ease, box-shadow 0.4s ease;
		background: transparent;

		&:hover {
			box-shadow: 0 80px 80px color-mix(in srgb, var(--colors-primary) 10%, transparent);
		}
	}
}

.events {

	&__link {
		padding: var(--padding-2xxm) var(--padding-xxl);
		display: flex;
		justify-content: space-between;
		border: 1px solid var(--colors-gray-300);
		border-radius: var(--roundings-s);
		@include tab-md {
			padding: var(--padding-2xm) var(--padding-xxm);
			flex-wrap: wrap;
			gap: var(--spacings-lm);
		}
		@include tab-sm {
			flex-direction: column;
		}
	}

	&__link-date {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--spacings-lm);
		color: var(--colors-primary);
		font-size: var(--size-display-4);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);

		@include tab-sm {
			justify-content: flex-start;
			font-size: var(--size-display-4);
		}

		@include mob-m {
			gap: var(--spacings-sm);
		}
	}

	&__link_month-time {
		padding-right: var(--padding-xxl);
		color: var(--colors-gray-700);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		text-align: left;
		min-width: 140px;

		span {
			padding: 0 0 var(--padding-2xs);
			display: flex;
			flex-direction: column;
			color: var(--colors-gray-900);
			font-size: var(--size-h5);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

}

.events {

	&__info {
		display: flex;
		flex-direction: column;
		color: var(--colors-gray-700);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		flex-grow: 1;

		span {
			color: var(--colors-gray-900);
			padding-bottom: var(--padding-2xs);
			font-size: var(--size-h5);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
			@include tab-md {
				padding: 0;
				flex: 1 1 100%;
				order: 3;
			}
	}

}

.events {

	&__link-button {
		padding-left: var(--padding-xm);
	}

	&__button {
		padding: 0 var(--padding-2xxm);
		background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		border: 1px solid var(--colors-primary);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-smallbase-btn);
		transition: transform 0.6s;
		min-width: 150px;

		&:hover {
			color: var(--colors-white);
			background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
			-webkit-background-clip: border-box;
			background-clip: border-box;
			-webkit-text-fill-color: initial;
			border: none;
		}

			@include desk-sm {
				white-space: nowrap;
			}

			@include tab-sm {
				align-self: center;
				order: 3;
				width: 100%;
				text-align: center;
			}
	}
}

.events {

	&__more {
		padding: var(--padding-2xxl) 0 var(--padding-xxxl);
		display: flex;
		justify-content: center;
		align-items: center;

		@include tab-md {
			padding: var(--padding-1xxl) 0 var(--padding-3xxl);
			flex-direction: column;
			gap: var(--spacings-lm);
			text-align: center;
		}
	}

	&__more-text {
		padding-right: var(--padding-xxl);
		font-size: var(--size-h3);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		
		@include tab-md {
			padding: 0;
		}
	}
}