@use "./globals/index" as *;
@use "mixins" as *;

body {
  font-family: "Lato", sans-serif;
  color: var(--colors-gray-900);
  background-color: var(--colors-white);
  font-size: 14px;
  line-height: 160%;
  font-weight: bold;
  overflow-x: hidden;
	&.no-scroll {
		overflow: hidden;
	}
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
	color: var(--colors-gray-900);
	cursor: pointer;
}

button {
  color: var(--colors-white);
  letter-spacing: var(--letter-spacing-small);
  border-radius: 4px;
  cursor: pointer;
}

.button__primary {
	padding: 0 var(--padding-xxl);
	color: var(--colors-white);
	background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
	border: none;
	font-size: var(--size-h6);
	font-weight: var(--weight-base-bold);
	line-height: var(--height-base-btn);
	@include transition;
		&:hover {
			transform: scale(0.95);
			box-shadow: 0 3px 4px var(--colors-orange);
		}

	&-mobile {
		display: none;
	}
	@include tab-m {
		&-mobile {
			display: block;
		}
		&-consultation {
		display:none;
		}
	}
}

.button__secondary {
	padding: 0 var(--padding-2xxm);
	background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	border: 1px solid var(--colors-orange);
	font-size: var(--size-h6);
	font-weight: var(--weight-base-bold);
	line-height: var(--height-base-btn);
	transition: all 0.6s;
	&:hover {
		color: var(--colors-white);
		background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
		-webkit-background-clip: border-box;
		background-clip: border-box;
		-webkit-text-fill-color: initial;
		border: none;
		transform: scale(0.95);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		}
}