body {
    font-family: "Lato", sans-serif;
    color: var(--colors-gray-900);
    background-color: var(--colors-white);
    font-size: 14px;
    line-height: 160%;
    font-weight: bold;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    color: var(--colors-white);
    font-family: "Lato", sans-serif;
    letter-spacing: var(--spacing-small);
    border-radius: 4px;
    cursor: pointer;
}

.button-primary {
  transform: translateY(-25%);
  padding: var(--padding-base);
  background: linear-gradient(to top right,var(--colors-primary), var(--colors-orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid var(--colors-orange);
  font-size: var(--size-h6);
  font-weight: var(--weight-base-bold);
  line-height: var(--height-base-btn);
  transition: all .6s;
}

.button-primary:active {
  color: var(--colors-white);
  background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-text-fill-color: initial;
  border: none;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button-primary:hover {
  color: var(--colors-white);
  background: var(--colors-orange);
  -webkit-text-fill-color: unset;
}

a {
  color: var(--colors-gray-900);
}