@use "mixins" as *;

.header__bg {
	background: url("../images/header/background_head.jpg") center center no-repeat;
	background-size: cover;
}

.header {
	padding-top: var(--padding-xm);

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: var(--spacings-3xl);
	}
	.nav {
		@include tab-m {
			position: absolute;
			top:0;
			left: -100%;
			height: 100vh;
			width: 100%;
			background-color: var(--colors-transparent-black);
			@include transition;
		}
		&.active {
			left: 0;
		}
		&__menu {
			display: flex;
			gap: var(--spacings-2xl);
			@include tab-m {
				flex-direction: column;
				align-items: flex-start;
				gap: var(--spacings-lm);
				padding: var(--padding-m-large) var(--padding-xxm) 0 ;
				height: 100%;
				width: 60%;
				background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
				overflow: auto;
			}

			&-item {
				transition: all .4s;

				&:hover {
					transform: scale(1.2);
				}
			}

			&-item__link {
				font-size: var(--size-h6);
				font-weight: var(--weight-base-bold);
				line-height: var(--height-base-regular);
				letter-spacing: var(--letter-spacing-regular);
				@include tab-m {
					font-size: var(--size-h4);
					line-height: var(--height-base-regular);
					color: var(--colors-white);
				}
			}

		}
	}
	&__info-actions {
		display: flex;
	}

	&__auth {
		padding-left: var(--padding-xxl);
		align-items: center;
		display: flex;
		gap: var(--spacings-xs);
		@include transition;
		@include tab-m {
			padding: var(--padding-xxl) 0 0 ;
			position: absolute;
			top:0;
			left: -100%;
			background-color: transparent;
			display: flex;
			gap: 5px;
			&.active {
				left: 10%;
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			color: var(--colors-gray-800);
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-base-regular);
			letter-spacing: var(--letter-spacing-regular);
			cursor: pointer;
			@include transition;
			&:hover {
				transform: scale(1.1);
			}
			@include tab-m {
				font-size: var(--size-h5);
				color: var(--colors-white);
			}
		}
		&-separator {
			color: var(--colors-gray-800);
			@include tab-m {
				font-size: var(--size-h5);
				color: var(--colors-white);
			}
		}
	}

	.burger {
		display: none;
		width: 30px;
		height: 20px;
		position: relative;
		cursor: pointer;

		span {
			position: absolute;
			height: 2px;
			top: calc(50% - 1px);
			width: 100%;
			background: var(--colors-white);
			left: 0;
			transition: all 0.3s;

			&:first-child {
				top: 0;
			}

			&:last-child {
				top: auto;
				bottom: 0;
			}
			}
		&.active {
			span {
				transform: scale(0);

				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}

				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px)
				}
			}
		}
	}

	&__btn-action {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--colors-white);
		flex-direction: column;
		padding: var(--padding-xm);
		box-shadow: 0 2px 10px var(--colors-black);

		&.active {
			display: flex;
		}

		a {
			padding: var(--padding-m) 0;
			border-bottom: 1px solid var(--colors-gray-200);
			color: var(--colors-gray-800);
			font-size: var(--size-h6);

			&:hover {
				transform: none;
				color: var(--colors-primary);
			}
		}
	}
}
//посмотреть что это за nav
.nav {
	display: flex;
	align-items: center;

	&__menu {
		display: flex;
		gap: var(--spacings-2xl);
		align-items: center;

		&-item {
			transition: all 0.4s;

			&:hover {
				transform: scale(1.2);
			}

			&__link {
				color: var(--colors-gray-800);
				font-size: var(--size-h6);
				font-weight: var(--weight-base-regular);
				line-height: var(--height-base-regular);
				letter-spacing: var(--letter-spacing-regular);
				text-decoration: none;
			}
		}
	}
}

@include desk-sm {
	.header__button {
		margin-right: var(--spacings-btn-margin);
		padding: 0 var(--padding-xm);
	}
}

@include tab-md {
	.header {
		padding-top: var(--padding-xm);
	}

	.header__auth {
		display: flex;
		text-align: center;
	}
}

@include tab-m {
	.header {
		padding-top: var(--padding-xm);
	}

	.header .burger {
		display: block;
		width: 25px;
		height: 18px;
	}

}

@include tab-sm {
	.header {
		padding-top: var(--padding-xm);

		&__inner {
			align-items: center;
		}
	}

	.button__consultation {
		display: none;
	}
}

@include mob-m {
	.header {
		padding-top: var(--padding-xm);

		&__burger {
			width: 22px;
			height: 16px;

			span {
				&:nth-child(2) {
					top: 7px;
				}

				&:nth-child(3) {
					top: 14px;
				}
			}
		}
	}
}