@use "../mixins" as *;

.benefits {
	padding-top: var(--padding-sections);

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		padding-bottom: var(--padding-2xxl);
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--weight-base-regular);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__navigation {
		padding-bottom: var(--padding-2xxl);
	}

	&__navigation-bar {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	&__navigation-link {
		padding: var(--padding-sm) 0;
		display: flex;
		color: var(--colors-gray-600);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		text-decoration: none;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--colors-white);
		flex: 1;
		transition: all 0.3s ease;

		&:hover {
			color: var(--colors-primary);
			border: 1px solid var(--colors-primary);
			border-radius: var(--roundings-s);
		}
	}

	&__content {
		display: flex;
		text-align: left;
		align-items: center;
	}

	&__content-text {
		color: var(--colors-gray-800);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);

		span {
			padding-bottom: var(--padding-2xm);
			color: var(--colors-gray-900);
			display: flex;
			flex-direction: column;
			font-size: var(--size-h2);
			font-weight: var(--weight-big-black);
			line-height: var(--height-display-1);
			letter-spacing: var(--letter-spacing-base);
		}
	}

	@include desk-sm {
			&__content {
				flex-direction: column;
				text-align: center;

				img {
					max-width: 90%;
				}
			}
	}

	@include tab-md {
			&__header-text {
				padding-bottom: var(--padding-xxl);
			}

			&__navigation {
				padding-bottom: var(--padding-xxl);
			}

			&__content {
				flex-direction: column;
				text-align: center;

				img {
					max-width: 80%;
					margin: 0 auto;
					order: 1;
				}
			}

			&__content-box {
				padding-bottom: var(--padding-benefits-box);
			}

			&__content-text {
				span {
					align-items: center;
				}
			}
	}

	@include tab-m {
			&__navigation-bar {
				flex-wrap: wrap;
				gap: var(--spacings-s);
			}

			&__navigation-link {
				flex: 1 1;
				min-width: 150px;
			}
	}

	@include tab-sm {
			&__header-text {
				padding-bottom: var(--padding-2xm);
			}

			&__navigation {
				padding-bottom: var(--padding-2xm);
			}

			&__navigation-bar {
				flex-direction: column;
				align-items: center;
				gap: var(--spacings-sm);
			}

			&__navigation-link {
				flex: 1 1 100%;
				padding: var(--padding-md) var(--padding-m);
				justify-content: flex-start;
			}
	}

	@include mob-m {
			&__content-text {
				span {
					font-size: var(--size-h4);

				}
			}
	}
}

.navigation-link__icon {
	margin-right: 8px;
	width: 16px;
	height: 16px;
}