@use "../mixins" as *;

.certificate {
	padding-top: var(--padding-large);

	&__container {
		display: flex;
		gap: var(--spacings-container-certificate);
	}

	&__header {
		padding-bottom: var(--padding-certificate);
	}

	&__header-text {
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__description-text {
		padding-bottom: var(--padding-2xxm);
		color: var(--colors-gray-800);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
	}

	&__description-images {
		display: flex;
		padding-bottom: var(--padding-large);
		gap: var(--spacings-2xl);
	}

	&__createx {
		position: relative;
		z-index: 1;
		height: auto;
		transform: translateY(40px);
	}

	@include desk-sm {
			&__createx {
				max-width: 100%;
				width: 100%;
			}
	}

	@include tab-md {
			&__container {
				gap: var(--spacings-4xl);
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			&__header {
				padding-bottom: var(--padding-2xxm);
			}

			&__description-images {
				padding-bottom: var(--padding-2xxm);
				gap: var(--spacings-2m);
				justify-content: center;
			}
	}

	@include mob-m {
			&__container {
				gap: var(--spacings-2m);
			}

			&__header {
				padding-bottom: var(--padding-md);
			}

			&__description {
				padding-bottom: var(--padding-md);
			}

			&__description-images {
				display: block;
				gap: var(--spacings-sm);

			}

			&__createx {
				max-width: 90%;
			}
	}
}