.certificate {
	padding-top: var(--padding-large);

	&__container {
		display: flex;
		gap: var(--spacings-container-certificate);
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__header {
		padding-bottom: var(--padding-certificate);
	}

	&__header-text {
		display: flex;
		flex-direction: column;
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__description {
		padding-bottom: var(--padding-certificate);
		gap: var(--spacings-2m);
	}

	&__description-text {
		padding-bottom: var(--padding-2xxm);
		color: var(--colors-gray-800);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
	}

	&__description-images {
		display: flex;
		padding-bottom: var(--padding-large);
		gap: var(--spacings-2xl);
	}

	&__createx {
		position: relative;
		z-index: 1000;
		height: auto;
	}
}

@media (max-width: 1230px) {
	.certificate {
		&__container {
			gap: var(--spacings-large);
		}

		&__header {
			padding-bottom: var(--padding-xxl);
		}

		&__description {
			padding-bottom: var(--padding-xxl);
		}

		&__createx {
			z-index: 1000;
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

@media (max-width: 994px) {
	.certificate {
		padding-top: var(--padding-2xxl);

		&__container {
			gap: var(--spacings-4xl);
			flex-direction: column;
		}

		&__header {
			padding-bottom: var(--padding-2xxm);
		}

		&__description {
			padding-bottom: var(--padding-2xxm);
		}

		&__description-images {
			gap: var(--spacings-2m);
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	.certificate {
		&__container {
			gap: var(--spacings-3xl);
		}

		&__header {
			padding-bottom: var(--padding-2xm);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-large-regular);

			span {
				font-size: var(--size-h6);
			}
		}

		&__description {
			padding-bottom: var(--padding-2xm);
		}

		&__description-text {
			font-size: var(--size-h6);
		}

		&__description-images {
			gap: var(--spacings-lm);
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 640px) {
	.certificate {
		padding-top: var(--padding-xxm);

		&__container {
			gap: var(--spacings-2xl);
		}

		&__header {
			padding-bottom: var(--padding-xm);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-base-regular);

			span {
				font-size: var(--size-h6);
				padding-bottom: var(--padding-xs);
			}
		}

		&__description {
			padding-bottom: var(--padding-xm);
		}

		&__description-text {
			font-size: var(--size-h6);
			line-height: var(--height-display-1);
		}

		&__description-images {
			gap: var(--spacings-m);
		}
	}
}

@media (max-width: 375px) {
	.certificate {
		&__container {
			gap: var(--spacings-2m);
		}

		&__header {
			padding-bottom: var(--padding-md);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);

			span {
				font-size: var(--size-h6);
				padding-bottom: var(--padding-2xs);
			}
		}

		&__description {
			padding-bottom: var(--padding-md);
		}

		&__description-text {
			font-size: var(--size-h6);
		}

		&__description-images {
			gap: var(--spacings-sm);
			flex-direction: column;
			align-items: center;
		}

		&__createx {
			max-width: 90%;
		}
	}
}