@use "../mixins" as *;

.courses {
	padding-top: var(--padding-sections);

	&__contain-header {
		padding-bottom: var(--padding-2xxl);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header-text {
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: var(--spacings-2m);
	}

	&__container-card {
		display: flex;
		background-color: var(--colors-white);
		border: 1px solid var(--colors-gray-300);
		border-radius: var(--roundings-s);
		transition: 0.4s;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 2px 4px var(--colors-black);
		}

		&:nth-child(2) .courses__card-badge {
			background: var(--colors-info);
		}

		&:nth-child(3) .courses__card-badge {
			background: var(--colors-warning);
		}

		&:nth-child(5) .courses__card-badge {
			background: var(--colors-info);
		}

		&:nth-child(6) .courses__card-badge {
			background: var(--colors-pink);
		}
	}

	&__content-card {
		padding: var(--padding-card);
	}

	&__card-badge {
		padding: var(--padding-badge);
		display: inline-block;
		color: var(--colors-white);
		background: var(--colors-success);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		border-radius: var(--roundings-s);
	}

	&__card-tag {
		padding: var(--padding-xm) 0;
		font-size: var(--size-h5);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);

		span {
			display: block;
		}
	}

	&__card-info {
		display: flex;
		align-items: center;
	}

	&__card-price {
		color: var(--colors-danger);
		font-size: var(--size-speaker);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
	}

	&__card-speaker {
		color: var(--colors-gray-700);
		font-size: var(--size-speaker);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
	}

	@include desk-m {
			&__content {
				grid-template-columns: 1fr;
				gap: var(--spacings-lm);
			}
	}

	@include tab-md {
			&__contain-header {
				flex-direction: column;
				gap: var(--spacings-2m);
				text-align: center;
			}
	}

	@include tab-sm {

			&__container-card {
				flex-direction: column;
			}
	}

	@include mob-m {
			&__header-text {
				display: flex;
				flex-direction: column;
			}
	}
}

.contain__divider {
	height: 14px;
	padding: 0 var(--padding-s);
	color: var(--colors-gray-700);
}

.vertical-divider {
	width: 1px;
	background-color: var(--colors-gray-700);
	height: 100%;
}