.courses {
	padding-top: var(--padding-sections);

	&__contain-header {
		padding-bottom: var(--padding-2xxl);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header-text {
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: var(--spacings-2m);
	}

	&__container-card {
		display: flex;
		background-color: var(--colors-white);
		border: 1px solid var(--colors-gray-300);
		border-radius: var(--roundings-s);
		transition: 0.4s;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 2px 4px var(--colors-black);
		}

		&:nth-child(2) .courses__card-badge {
			background: var(--colors-info);
		}

		&:nth-child(3) .courses__card-badge {
			background: var(--colors-warning);
		}

		&:nth-child(5) .courses__card-badge {
			background: var(--colors-info);
		}

		&:nth-child(6) .courses__card-badge {
			background: var(--colors-pink);
		}
	}

	&__content-card {
		padding: var(--padding-card);
	}

	&__card-badge {
		padding: var(--padding-badge);
		display: inline-block;
		color: var(--colors-white);
		background: var(--colors-success);
		font-size: var(--size-badge);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
		border-radius: var(--roundings-s);
	}

	&__card-tag {
		padding: var(--padding-xm) 0;
		font-size: var(--size-h5);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);

		span {
			display: block;
		}
	}

	&__card-info {
		display: flex;
		align-items: center;
	}

	&__card-price {
		color: var(--colors-danger);
		font-size: var(--size-speaker);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
	}

	&__card-speaker {
		color: var(--colors-gray-700);
		font-size: var(--size-speaker);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
	}
}

.contain__divider {
	height: 14px;
	padding: 0 var(--padding-s);
	color: var(--colors-gray-700);
}

.vertical-divider {
	width: 1px;
	background-color: var(--colors-gray-700);
	height: 100%;
}
@media (max-width: 1440px) {
	.courses {
		padding-bottom: 150px;

		&__content {
			grid-template-columns: 1fr;
			gap: var(--spacings-lm);
		}

		&__contain-header {
			padding-bottom: var(--padding-1xxl);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);

			span {
				font-size: var(--size-h6);
			}
		}

		&__content-card {
			padding: var(--padding-card);
		}
	}
}

@media (max-width: 994px) {
	.courses {
		padding-top: var(--padding-sections);

		&__contain-header {
			padding-bottom: var(--padding-xxl);
			flex-direction: column;
			gap: var(--spacings-2m);
			text-align: center;
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);

			span {
				font-size: var(--size-h6);
				align-items: center;
			}
		}

		&__header-button {
			transform: translateY(0);
			padding: 0 var(--padding-xm);
			font-size: var(--size-h6);
		}

		&__content-card {
			padding: var(--padding-2xm);
		}

		&__card-tag {
			padding: var(--padding-md) 0;
			font-size: var(--size-h5);
		}
	}
}

@media (max-width: 768px) {
	.courses {
		&__contain-header {
			padding-bottom: var(--padding-xl);
			gap: var(--spacings-xlm);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);
			letter-spacing: var(--letter-spacing-base);

			span {
				font-size: var(--size-h6);
			}
		}

		&__header-button {
			padding: 0 var(--padding-xm);
			font-size: var(--size-h6);
			width: 100%;
			max-width: 300px;
		}

		&__content {
			gap: var(--spacings-lm);
		}

		&__content-card {
			padding: var(--padding-xm);
		}

		&__card-tag {
			padding: var(--padding-m) 0;
			font-size: var(--size-h5);
			line-height: var(--height-large-regular);
		}

		&__card-info {
			flex-wrap: wrap;
			gap: var(--spacings-s);
		}

		&__container-card {
			&:hover {
				transform: scale(1.02);
			}
		}
	}

	.contain__divider {
		padding: 0 var(--padding-xs);
	}
}

@media (max-width: 640px) {
	.courses {
		padding-top: var(--padding-sections);

		&__contain-header {
			padding-bottom: var(--padding-xxm);
			gap: var(--spacings-lm);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);
			letter-spacing: var(--letter-spacing-base);

			span {
				font-size: var(--size-h6);
				padding-bottom: var(--padding-xs);
			}
		}

		&__header-button {
			padding: 0 var(--padding-xm);
			font-size: var(--size-h6);
			max-width: 280px;
		}

		&__content {
			gap: var(--spacings-m);
		}

		&__container-card {
			flex-direction: column;
		}

		&__content-card {
			padding: var(--padding-md);
		}

		&__card-tag {
			padding: var(--padding-sm) 0;
			font-size: var(--size-h5);
		}

		&__card-price,
		&__card-speaker {
			font-size: var(--size-speaker);
		}

		&__card-badge {
			font-size: var(--size-badge);
			padding: 1px var(--padding-xs);
		}
	}

	.vertical-divider,
	.contain__divider {
		display: none;
	}
}

@media (max-width: 375px) {
	.courses {
		padding-top: var(--padding-sections);

		&__contain-header {
			padding-bottom: var(--padding-2xm);
			gap: var(--spacings-m);
		}

		&__header-text {
			font-size: var(--size-h1);
			line-height: var(--height-display-1);
			letter-spacing: var(--letter-spacing-base);

			span {
				font-size: var(--size-h6);
				padding-bottom: var(--padding-2xs);
				display: inline;
			}
		}

		&__header-button {
			padding: var(--padding-base);
			font-size: var(--size-h6);
			max-width: 250px;
			line-height: var(--height-base-btn);
		}

		&__content {
			gap: var(--spacings-sm);
		}

		&__content-card {
			padding: var(--padding-md);
		}

		&__card-tag {
			padding: var(--padding-s) 0;
			font-size: var(--size-h5);
			line-height: var(--height-large-regular);

			span {
				display: inline;
			}
		}

		&__card-price,
		&__card-speaker {
			font-size: var(--size-speaker);
		}

		&__card-badge {
			font-size: var(--size-badge);
			padding: 1px var(--padding-2xs);
		}

		&__card-info {
			flex-direction: column;
			align-items: flex-start;
			gap: var(--spacings-xs);
		}

		&__container-card {
			&:hover {
				transform: scale(1.01);
			}
		}
	}
}

@media (max-width: 320px) {
	.courses {
		&__header-text {
			font-size: var(--size-h1);

			span {
				font-size: var(--size-h6);
			}
		}

		&__header-button {
			max-width: 220px;
			font-size: var(--size-h6);
		}

		&__content-card {
			padding: var(--padding-md);
		}

		&__card-tag {
			font-size: var(--size-h5);
		}
	}
}