@use "../mixins" as *;

.events {
	margin-top: var(--margin-section-events);
	background: url("/src/images/events/events_background.jpg") center center no-repeat;
	background-size: cover;

	&__header {
		padding-top: var(--padding-xxxl);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		padding-bottom: var(--padding-2xxl);
		font-size: var(--size-h1);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--weight-base-regular);

		span {
			padding-bottom: var(--padding-s);
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--size-h6);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		gap: var(--spacings-xlm);
	}

	&__navigation_list {
		border-radius: var(--roundings-s);
		background-color: var(--colors-white);
		transition: transform 0.6s ease, box-shadow 0.4s ease;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 80px 80px color-mix(in srgb, var(--colors-primary) 50%, transparent);
		}
	}

	&__link {
		padding: var(--padding-2xxm) var(--padding-xxl);
		display: flex;
		justify-content: space-between;
	}

	&__link-date {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--spacings-lm);
		color: var(--colors-primary);
		font-size: var(--size-display-4);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);
	}

	&__link_month-time {
		padding-right: var(--padding-xxl);
		color: var(--colors-gray-700);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		text-align: left;

		span {
			padding: 0 0 var(--padding-2xs);
			display: flex;
			flex-direction: column;
			color: var(--colors-gray-900);
			font-size: var(--size-h5);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		color: var(--colors-gray-700);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-regular);
		line-height: var(--height-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		flex-grow: 1;

		span {
			color: var(--colors-gray-900);
			padding-bottom: var(--padding-2xs);
			font-size: var(--size-h5);
			font-weight: var(--weight-base-bold);
			line-height: var(--height-large-regular);
			letter-spacing: var(--letter-spacing-regular);
		}
	}

	&__link-button {
		padding-left: var(--padding-xm);
	}

	&__button {
		padding: 0 var(--padding-2xxm);
		background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		border: 1px solid var(--colors-primary);
		font-size: var(--size-h6);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-smallbase-btn);
		transition: transform 0.6s;

		&:hover {
			color: var(--colors-white);
			background: linear-gradient(to top right, var(--colors-primary), var(--colors-orange));
			-webkit-background-clip: border-box;
			background-clip: border-box;
			-webkit-text-fill-color: initial;
			border: none;
		}
	}

	&__more {
		padding: var(--padding-2xxl) 0 var(--padding-xxxl);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__more-text {
		padding-right: var(--padding-xxl);
		font-size: var(--size-h3);
		font-weight: var(--weight-base-bold);
		line-height: var(--height-large-regular);
		letter-spacing: var(--letter-spacing-regular);
	}

	@include desk-sm {
			&__button {
				white-space: nowrap;
			}
	}

	@include tab-md {
			&__link {
				padding: var(--padding-2xm) var(--padding-xxm);
				flex-wrap: wrap;
				gap: var(--spacings-lm);
			}

			&__info {
				padding: 0;
				flex: 1 1 100%;
				order: 3;
			}

			&__more {
				padding: var(--padding-1xxl) 0 var(--padding-3xxl);
				flex-direction: column;
				gap: var(--spacings-lm);
				text-align: center;
			}

			&__more-text {
				padding: 0;
			}
	}

	@include tab-sm {
			&__link {
				flex-direction: column;
			}

			&__link-date {
				justify-content: flex-start;
				font-size: var(--size-display-4);
			}

			&__button {
				align-self: center;
				order: 3;
				width: 100%;
				text-align: center;
			}
	}

	@include mob-m {
			&__header-text {
				font-size: var(--size-h4);
			}

			&__link-date {
				gap: var(--spacings-sm);
			}

			&__more-text {
				font-size: var(--size-h4);
			}
	}
}