@import "main.css";
@import "main-stats.css";
@import "about.css";
@import "courses.css";
@import "benefits.css";
@import "events.css";
@import "certificate.css";
@import "team.css";
@import "testimonials.css";
@import "blog.css";
@import "subscribe.css";
@import "copyright.css";