@use "main.scss" as *;
@use "main-stats" as *;
@use "about.scss" as *;
@use "courses.scss" as *;
@use "benefits.scss" as *;
@use "events.scss" as *;
@use "certificate.scss" as *;
@use "team.scss" as *;
@use "testimonials" as *;
@use "blog.scss" as *;
@use "/src/style/layout/index.scss" as *;
@use "../mixins" as *;
