@use 'main.css';
@use 'main-stats.css';
@use 'about.css';
@use 'courses.css';
@use 'benefits.css';
@use 'events.css';
@use 'certificate.css';
@use 'team.css';
@use 'testimonials.css';
@use 'blog.css';
@use 'subscribe.css';
@use 'copyright.css';