@use "modal-sign" as *;
@use "main.scss" as *;
@use "main-stats" as *;
@use "about.scss" as *;
@use "courses.scss" as *;
@use "benefits.scss" as *;
@use "events.scss" as *;
@use "certificate.scss" as *;
@use "team.scss" as *;
@use "testimonials" as *;
@use "blog.scss" as *;
@use "subscribe.scss" as *;
@use "copyright.scss" as *;
@use "../mixins" as *;
