@use "../mixins" as *;

.main {
	padding-top: var(--padding-section-main);

	&__content {
		display: flex;
	}

	&__info-video {
		display: flex;
		align-items: center;

		&-button {
			padding: 0;
			background-color: transparent;
			border: none;
			transition: all 0.4s;
			animation: pulse-play 4s infinite;
			&:hover {
				transform: scale(0.95);
			}
		}
	}

	&__info-title {
		padding: var(--padding-main__content-text);
		font-size: var(--size-display-2);
		font-weight: var(--weight-big-black);
		line-height: var(--height-display-1);
		letter-spacing: var(--letter-spacing-base);
	}

	&__info-actions {
		display: flex;
		gap: var(--spacings-xlm);
	}

	@include tab-md {
		.main {
			&__content {
				flex-direction: column;
				text-align: center;
				gap: var(--spacings-2xl);

				img {
					max-width: 80%;
					margin: 0 auto;
				}
			}

			&__info-video {
				justify-content: center;
			}

			&__info-actions {
				justify-content: center;
			}
		}
	}

	@include tab-m {
		.main {
			&__content {
				gap: var(--spacings-2m);

				img {
					max-width: 70%;
				}
			}

			&__info {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__info-video {
				width: 70px;
				height: 70px;
			}

			&__info-actions {
				gap: var(--spacings-m);
			}
		}
	}
	@include tab-sm {
		.main__info-actions {
				flex-direction: column;
				align-items: center;
			}
		}
}