@use "../mixins" as *;

.stats {
	padding: var(--padding-section-stats);
	display: flex;
	justify-content: center;
	align-items: center;

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__item-text {
		display: flex;
		align-items: center;
		font-size: var(--size-h6);
		line-height: var(--height-base-regular);
		font-weight: var(--weight-base-regular);
		letter-spacing: var(--letter-spacing-regular);
		transition: transform 0.4s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__item-number {
		padding-right: var(--padding-m);
		font-size: var(--size-h1);
		line-height: var(--height-display-1);
		font-weight: var(--weight-big-black);
	}

	@include tab-md {
			&__items {
				gap: var(--spacings-lm);
			}

			&__item--circle {
				display: none;
			}
	}

	@include tab-m {
			&__item {
				flex-direction: column;
				gap: var(--spacings-s);
			}
	}
}

.stats__item--circle {
	margin: 0 var(--margin-2xxl);
	width: 8px;
	height: 8px;
	background: radial-gradient(circle at 30% 30%, var(--colors-primary), var(--colors-orange));
	border-radius: 50%;
	animation: pulse-fast 2s infinite;
	position: relative;
	overflow: hidden;
}