@use "../../../assets/style/variables/breakpoints" as *;
@use "../../../assets/style/variables/mixins" as *;

.testimonialsSection {

	.testimonialsContainer {
		padding: var(--section-padding-y) 0;

		@include tab-md {
			padding-bottom: var(--space-9xl);
		}

		@include tab-sm {
			padding-bottom: var(--space-2xl);
		}
	}

	.testimonialsHeader {
		display: flex;
		flex-direction: column;
		align-items: center;

		&Subtitle {
			padding-bottom: var(--space-s);
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--font-size-base);
			font-weight: var(--font-weight-bold);
			line-height: var(--line-height-body);
			letter-spacing: var(--letter-spacing-none);

			@include tab-md {
				text-align: center;
			}
		}

		&Title {
			padding-bottom: var(--space-5xl);
			font-size: var(--font-size-5xl);
			font-weight: var(--font-weight-black);
			line-height: var(--line-height-heading);
			letter-spacing: var(--font-weight-regular);
			margin: 0;

			@include tab-md {
				text-align: center;
			}

			@include tab-sm {
				padding-bottom: var(--space-3xl);
				font-size: var(--font-size-5xl);

				span {
					font-size: var(--font-size-base);
				}
			}
		}
	}

	.testimonialsContent {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button:hover svg path {
			fill: var(--colors-white);
		}
	}

	.testimonialsArrowLeft,
	.testimonialsArrowRight {
		padding: var(--space-lg) var(--space-lg);
		border-radius: var(--roundings-arrows);
		border: none;
		background-color: transparent;
		width: 48px;
		height: 48px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.6s ease;

		&:hover {
			background-color: var(--colors-primary);
		}
	}

	.sliderContainer {
		background-color: var(--colors-white);
		max-width: 1020px;
		margin: 0 auto;
		border-radius: var(--roundings-s);
		width: 100%;

		@include tab-md {
			max-width: 700px;
		}

		@include tab-m {
			max-width: 600px;
			margin: 0 20px;
		}

		@include tab-sm {
			max-width: 500px;
			margin: 0 15px;
		}

		@include mob-m {
			margin: 0 10px;
			border-radius: var(--roundings-s);
		}
	}

	.sliderContentBox {
		display: flex;
		padding: var(--space-5xl) var(--space-8xl);

		@include tab-md {
			padding: var(--space-5xl) var(--space-5xl);
		}

		@include tab-m {
			padding: var(--space-3xl) var(--space-5xl);
			flex-direction: column;
		}

		@include tab-sm {
			padding: var(--space-3xl) var(--space-2xl);
		}

		@include mob-m {
			padding: var(--space-xl) var(--space-lg);
		}

		@include mob-sm {
			padding: var(--space-lg) var(--space-md);
		}
	}

	.sliderItem {
		width: 100%;

		&TextContainer {
			padding-bottom: var(--space-xl);

			@include tab-sm {
				padding-bottom: var(--space-md);
			}

			@include mob-m {
				padding-bottom: var(--space-md);
			}
		}

		&Text {
			color: var(--colors-gray-800);
			font-size: var(--font-size-xl);
			font-weight: var(--font-weight-regular);
			line-height: var(--line-height-body);
			letter-spacing: var(--letter-spacing-none);
			margin: 0;

			@include tab-m {
				text-align: center;
			}

			@include tab-sm {
				font-size: var(--font-size-base);
				line-height: var(--line-height-base);
				text-align: center;
			}

			@include mob-m {
				font-size: var(--font-size-base);
				line-height: var(--line-height-heading);
			}

			@include mob-sm {
				font-size: var(--font-size-base);
			}
		}

		&Profile {
			display: flex;
			align-items: center;

			img {
				display: block;
			}

			@include tab-m {
				justify-content: center;
				flex-direction: column;
				text-align: center;
			}

			@include mob-m {
				height: 50%;
				width: 50%;
			}
		}
	}

	.sliderProfileName {
		padding-left: var(--space-lg);
		color: var(--colors-gray-700);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-regular);
		line-height: var(--line-height-body);
		letter-spacing: var(--letter-spacing-none);
		margin: 0;

		span {
			display: flex;
			flex-direction: column;
			padding-bottom: var(--space-2xs);
			color: var(--colors-gray-900);
			font-size: var(--font-size-base);
			font-weight: var(--font-weight-bold);
			line-height: var(--line-height-base);
			letter-spacing: var(--letter-spacing-none);

			@include tab-m {
				align-items: center;
			}
		}

		@include tab-m {
			padding: var(--space-md) 0 0;
		}

		@include tab-sm {
			font-size: var(--font-size-sm);
			span {
				font-size: var(--font-size-base);
			}
		}

		@include mob-m {
			font-size: var(--font-size-base);
			line-height: var(--line-height-heading);
			padding-top: var(--space-m);

			span {
				font-size: var(--font-size-base);
				line-height: var(--line-height-heading);
			}
		}
	}

	.rectangleBox {
		display: flex;
		padding-right: var(--space-2xl);
		gap: var(--space-s);

		@include tab-md {
			padding-right: var(--space-xl);
		}

		@include tab-m {
			padding-bottom: var(--space-lg);
		}

		@include tab-sm {
			padding: 0 0 var(--space-md);
		}

		@include mob-m {
			padding-bottom: var(--space-m);
			gap: var(--space-s);
		}

		@include mob-sm {
			gap: var(--space-2xs);
		}
	}

	.rectangle {
		display: flex;
		width: 10px;
		height: 20px;
		background-color: var(--colors-primary);
		clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 40%);

		@include tab-m {
			width: 8px;
			height: 16px;
		}

		@include tab-sm {
			width: 6px;
			height: 14px;
		}

		@include mob-m {
			width: 5px;
			height: 12px;
		}

		@include mob-sm {
			width: 4px;
			height: 10px;
		}
	}

	.testimonialsRectangles {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--space-sm);
		padding-top: var(--space-5xl);
	}

	.rectangleHorizon {
		background-color: var(--colors-gray-800);
		width: 30px;
		height: 3px;
		border-radius: var(--roundings-rect-horizon);
		opacity: 0.3;
		transition: opacity 0.3s ease;

		&Modification {
			opacity: 1;
		}
	}
}
