@use "../../../../assets/style/variables/breakpoints" as *;
@use "../../../../assets/style/variables/mixins" as *;

.heroWrapperBg {
	background: url("@assets/images/common/header/BackgroundHead.jpg") center center no-repeat;
	background-size: cover;
	width: 100%;
}