@use "../../../assets/style/variables/breakpoints" as *;
@use "../../../assets/style/variables/mixins" as *;

.certificateSection {
	padding-top: var(--space-9xl);

	.certificateContainer {
		display: flex;
		gap: var(--certificate-container-gap);
		@include tab-md {
			gap: var(--space-7xl);
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		@include mob-m {
			gap: var(--space-2xl);
		}
	}

	.certificateContent {
	}

	.certificateHeader {
		padding-bottom: var(--space-4xl);
		@include tab-md {
			padding-bottom: var(--space-2xl);
		}
		@include mob-m {
			padding-bottom: var(--space-md);
		}

		&Subtitle {
			padding-bottom: var(--space-s);
			display: flex;
			flex-direction: column;
			font-size: var(--font-size-base);
			font-weight: var(--font-weight-bold);
			line-height: var(--line-height-body);
			letter-spacing: var(--letter-spacing-none);
			@include tab-md {
				align-items: center;
			}
		}

		&Title {
			font-size: var(--font-size-5xl);
			font-weight: var(--font-weight-black);
			line-height: var(--line-height-heading);
			letter-spacing: var(--letter-spacing-normal);
			margin: 0;
		}
	}

	.certificateDescription {
		@include mob-m {
			padding-bottom: var(--space-md);
		}

		&Text {
			padding-bottom: var(--space-2xl);
			color: var(--colors-gray-800);
			font-size: var(--font-size-base);
			font-weight: var(--font-weight-regular);
			margin: 0;
		}

		&Images {
			display: flex;
			padding-bottom: var(--space-9xl);
			gap: var(--space-3xl);
			@include tab-md {
				padding-bottom: var(--space-2xl);
				gap: var(--space-2xl);
				justify-content: center;
			}
			@include mob-m {
				display: block;
				gap: var(--space-sm);
				padding-bottom: var(--space-md);
			}
		}

		&Image {
			display: block;
			height: auto;
			@include mob-m {
				margin: 0 auto var(--space-s);
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.certificateImageWrapper {
	}

	.certificateCreatex {
		position: relative;
		z-index: 1;
		height: auto;
		display: block;
		transform: translateY(40px);
		@include desk-sm {
			max-width: 100%;
			width: 100%;
		}
		@include mob-m {
			max-width: 90%;
			margin: 0 auto;
		}
	}
}
